<% provide(:title, @song.song_name) %>

<h1><%= @song.song_name %></h1>
<h2><span class="artist"> Singer_name   : <%= @song.artist_name %></span></h2>
<h2><span class="user">Posted by :<%= link_to @song.user.name,@song.user %></span>
</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <% unless @song.video_link.present? %>
  <%= @song.lyric %>
  <% else %>	
  <p><%= raw(youtube_embed(@song.video_link)) %></p>
  <% end %>
</div>
</div>

